$icon-font-path:        "../fonts/";


// colors
$color-primary:     rgba(221, 225, 213, 1.0);
$color-secondary:   rgba(86, 110, 52, 1.0);
$color-muted-1:     rgba(228, 231, 221, 1.0);
$color-muted-2:     rgba(141, 149, 126, 1.0);

$text-color: #000000;
$text-muted: $color-muted-2;
$text-color-dark: $color-secondary;

$link-color: $color-secondary;
$link-hover-color: $color-muted-2;
